<!DOCTYPE html>

<html>
  <head>
    <title>Bookmark+</title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/style.css') }}" />
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/jquery-1.7.1.min.js') }}">
    </script>
    <script type="text/javascript" src="{{ url_for('util_js') }}"></script>
    {% block scripts %}{% endblock %}
  </head>
  <body>
    <div id="messages"></div>
    <div class="column">
    <div class="header">
    Bookmark+
    </div>
    <hr />
    {% block body %}{% endblock %}
    </div>
  </body>
</html>
