{% extends "html/base.html" %}

{% block scripts %}
  <script type="text/javascript" src="{{ url_for('landing_js') }}"></script>
{% endblock %}

{% block body %}
<div id="register_login">
  <div class="landing_container" id="login">
    <form id="login_form" method="post">
      <div class="text_container">
        <input type="text" id="login_email"
               placeholder="E-mail" class="identity" />
      </div>
      <div class="text_container">
        <input class="password" id="login_password"
               placeholder="Password" type="password" />
      </div>
      <input class="submit_button" type="submit" value="Log in" />
    </form>
  </div>
  <div class="landing_container" id="register">
    <form id="register_form" method="post">
      <div class="text_container">
        <input class="identity" id="register_name"
               placeholder="Name" type="text" />
      </div>
      <div class="text_container">
        <input class="identity" id="register_email"
               placeholder="E-mail" type="text" />
      </div>
      <div class="text_container">
        <input class="password" id="register_password"
               placeholder="Password" type="password" />
      </div>
      <div class="text_container">
        <input class="password" id="register_repassword"
               placeholder="Re-enter password" type="password" />
      </div>
      <input class="submit_button" type="submit" value="Register" />
    </form>
  </div>
  <div class="link">
  <a id="about_link">About</a>
  </div>
</div>
<div id="about">
<!-- TODO(jven): take out inline css-->
<p style="text-align:center">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet, diam a feugiat semper, lacus nibh placerat sem, a blandit ipsum ipsum vel sem. Integer molestie imperdiet mauris eu blandit. Cras nibh tortor, vulputate id imperdiet id, molestie id massa. Mauris in arcu orci. Praesent elementum dignissim sem, id rhoncus nunc ullamcorper quis. Vestibulum vestibulum adipiscing odio sed eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a sapien ac quam elementum suscipit. Suspendisse consequat volutpat quam vel pretium. Fusce arcu turpis, sagittis venenatis scelerisque id, ullamcorper sed eros. Nunc porta pretium mauris, vel posuere massa pharetra id. Curabitur tristique odio ac nibh tincidunt nec fermentum turpis tincidunt. Vestibulum eu enim quis dui congue aliquam. Fusce adipiscing leo justo, a lacinia mauris.
</p>
<div class="link">
<a id="back_link">Back</a>
</div>
</div>
{% endblock %}
