{% extends "html/base.html" %}

{% block scripts %}
  <script type="text/javascript" src="{{ url_for('main_js') }}"></script>
{% endblock %}


{% block body %}
    <div class="logout" id="logout"> 
       <a href="{{ url_for('logout_html') }}">Logout</a> 
    </div>
 
    URL: <input id="create_bookmark_uri" type="text"></input>
    <button id="create_bookmark">Add Bookmark</button>
    </br>
    Name: <input id="create_circle_name" type="text"></input>
    <button id="create_circle">Create Circle</button>
    </br>
    Bookmark ID: <input id="add_bookmark_id" type="text"></input>
    Circle ID: <input id="add_circle_id" type="text"></input>
    <button id="add_bookmark">Add to Circle</button>
    </br>

  <hr />
  <div class="bookmarks_container" id="bookmarks_container">
  </div>
  <hr />
  <div class="circles_container" id="circles_container">
  </div>



{% endblock %}
