{% extends "html/base.html" %}
{% from "html/_formhelpers.html" import render_field %}

{% block scripts %}
  <script type="text/javascript" src="{{ url_for('adts_js') }}"></script>
  <script type="text/javascript" src="{{ url_for('main_js') }}"></script>
{% endblock %}


{% block body %}
    <div class="logout" id="logout"> 
       <a href="{{ url_for('logout_html') }}">Logout</a> 
    </div>
 
<form method="post" action="/createbookmark">
    <dl>
        {{ render_field(create_bookmark_form.uri) }}
    </dl>
    <p><input type=submit value=CreateBookmark>
</form>

<form method="post" action="/createcircle">
    <dl>
        {{ render_field(create_circle_form.name) }}
    </dl>
    <p><input type=submit value=CreateCircle>
</form>

<form method="post" action="/addbookmarktocircle">
    <dl>
        {{ render_field(add_form.uri) }}
        {{ render_field(add_form.name) }}
    </dl>
    <p><input type=submit value=AddBookmarkToCircle>
</form>

  <div class="bookmarks_container" id="bookmarks_container">
  </div>
  <div class="circles_container" id="circles_container">
  </div>



{% endblock %}
