/**
 * Stylesheet for popup page for Bookmark+ chrome extension.
 * Authors:
 * Michael Mekonnen (mikemeko@mit.edu)
 * Justin Venezuela (jven@mit.edu)
 * Paul Woods (pwoods@mit.edu)
 **/

@import url(http://fonts.googleapis.com/css?family=Linden+Hill);

body{
  background-image:url('../img/ricepaper.png');
  font-family:'Linden Hill', serif
}
.container{
  position:relative
}
.placeholder{
  position:absolute;
  top:4px;
  left:4px;
  color:#AAA
}
#errors{
  color:red
}
#email{
  width:270px
}
#form{
  background-color:#FFA500;
  border:solid black 1px;
  padding:5px 10px
}
#header{
  font-size:1.8em;
  text-align:center;
  text-shadow:#444 0px 2px 4px
}
#main{
  width:300px
}
#password{
  width:135px
}
