/**
 * Authors:
 * Michael Mekonnen (mikemeko@mit.edu)
 * Paul Woods (pwoods@mit.edu)
 * Justin Venezuela (jven@mit.edu)
 * Stylesheet for B+.
 */

@import url(http://fonts.googleapis.com/css?family=Linden+Hill);

/* HTML Tags. */
body {
  background-image: url('../img/ricepaper.png');
  font-family: 'Linden Hill', serif;
}

p {
  margin: 0px;
  padding: 0px;
}

a.bookmark_text {
  text-decoration:underline;
  color:blue;
}

/* Classes. */
div.bookmarks_container {
  display: inline-block;
  width: 100%;
  height: 200px;
  overflow: auto;
}

div.bookmark {
  float: left;
  background-color: silver;
  width: 200px;
  height: 35px;
  margin: 10px;
  padding-top: 15px;
  border: 2px solid black;
  z-index: 1;
  text-align: center;
}

div.circles_container {
  width: 100%;
  height: 200px;
  overflow-x: scroll;
  overflow-y: hidden;
}

div.inner_circles_container {
  display: inline-block;
  width: 2000px;
  height: 190px;
  overflow: hidden;
}

div.circle {
  float: left;
  width: 150px;
  height: 150px;
  margin: 10px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  background-color: silver;
  border: 2px solid black;
  text-align: center;
}

div.highlight {
  background-color: orange;
}

div.column {
  margin: 50px auto 0px auto;
  width: 70%;
}

div.header {
  font-size: 3em;
  text-align: center;
  text-shadow: #444 0px 2px 4px;
}

div.landing_container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 300px;
  padding: 10px 30px;
  background-color: #FFA500;
  border: solid black 1px;
}

div.link {
  cursor: pointer;
  margin-top: 5px;
  text-align: center;
  text-decoration: underline;
}

div.logout{
  float:right;
}

div.text_container {
  position: relative;
  overflow: visible;
}

div.message {
  padding: 5px;
  background-color: #B0B0B0;
  border: ridge 5px red;
}

div.sort {
    margin-right:10px;
    float:left;
}

div.death {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

div.selected_sort{
  font-weight: bold;
}

div.unique {
  background-color: lightgray;
  border: 2.5px dashed black;
}

span.expected_input {
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
  color: gray;
}

span.circle {
  width: 50px;
  height: 20px;
  cursor: pointer;
}

span.selected {
  font-weight: bold;
}

input.identity {
  width: 300px;
}

input.password {
  width: 150px;
}

/* IDs */
div#messages {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
}

div#delete {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
  height: 45px;
}

img#trash {
  float: left;
  width: 40px;
  height: 40px;
}

span#delete_message {
  float: right;
  margin: 15px;
}

button#add_item {
  width: 50px;
  height: 50px;
  font-size: 30px;
}

input#create_circle_name {
  margin-top: 65px;
  width: 100px;
}

input#create_bookmark_uri {
  width: 180px;
}
