/**
 * Authors:
 * Michael Mekonnen (mikemeko@mit.edu)
 * Paul Woods (pwoods@mit.edu)
 * Justin Venezuela (jven@mit.edu)
 * Stylesheet for B+.
 */

@import url(http://fonts.googleapis.com/css?family=Linden+Hill);

/* HTML Tags. */
body {
  font-family: 'Linden Hill', serif;
}

/* Classes. */
div.column {
  margin: 50px auto 0px auto;
  width: 60%;
}

div.header {
  font-size: 3em;
  text-align: center;
  text-shadow: #444 0px 2px 4px;
}

div.landing_container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 20px;
  background-color: orange;
  border: solid black 1px;
}

div.text_container {
  position: relative;
  overflow: visible;
}

span.holder {
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
  color: gray;
}

input.e-mail {
  width: 300px;
}

/* IDs. */
#sign_in {
  margin-top: 75px;
  margin-bottom: 75px;
}
